<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    .board {
      padding: 10px 20px;
      border: solid 2px;
      margin: 20px;
      width: 12%;
      height: 100%;
    }
    .boardLists {
      display: flex;
      flex-direction: row;
    }
  </style>
</head>
<body>
  <div id="app">
    <button @click="addNewBoard">+</button>
    <div class="boardLists">
      <board v-for="(res, index) in list" :text="res" :ind="index" :addnewcard="addNewCard"  :key="index">
      </board> 
    </div>
  </div>
  <script>
    let Board = {
      props: ['text', 'ind', 'addnewcard'],
      template: `
      <div class="board">
        <p v-text="text.boardTitle"></p>
        <button @click="addnewcard(ind)">+</button>
        <pchild v-for="(val, index) in text.cards" :val="val" :key="index"></pchild>
      </div>
      `
    }
    let Child = {
      props: ['val'],
      template: `
      <div class="card">
        <p v-text="val"></p>
      </div>
      `
    }
    new Vue({
      el: '#app',
      data () {
        return {
          list: [],
        }
      },
      components: {
        'board': Board,
        'pchild': Child
      },
      methods: {
        addNewBoard () {
          this.list.push({
            boardTitle: `What's the board for?`,
            cards: []
          })
        },
        addNewCard (index) {
          this.list[index].cards.push(`What's the card for?`)
        }
      }
    })
  </script>
</body>
</html>
